mixin eventItem(isUpcoming, imgUrl, title, description, date, location, facebookLink, tickets)
  .item(class=attributes.class)
      .upcoming-event.row
          .col-md-4.col-md-offset-2
            img.flyer(src=imgUrl, alt=title)
          |                     
          .col-md-6
            if (isUpcoming)
              h4.tag-upcoming upcoming Event:
            else
              h4.tag-past past Event:
            h2= title              
            ul.artists
              block
            p= description
            p #{date} @ #{location}
            ul.event-links
              li.event-link
                a.btn.btn-default.btn-lg(href=facebookLink, target='blank')
                  i.fa.fa-facebook.fa-fw
                  span.network-name Facebook
              li.event-link
                if (tickets)
                  a.btn.btn-default.btn-lg(href=tickets, target='blank')
                    i.fa.fa-ticket.fa-fw
                    span.network-name Buy Ticket
              
mixin artist(name, labels, city)
  li
    span.artist-name= name
    span.artist-label [ #{labels} | #{city} ]
